body{
    font-family: fantasy;
    background-color: yellowgreen;
    /*background-image: url(/imgs/cat1.jpg);*/
    /*background-position: right top;*/
}
.div{
    color: red;
    font-family: fantasy;
}
#one{
    color: blue;
    font-family: fantasy;
}

/*#two{
    color:aqua;
}*/

#background-color{
    /*background-color: aqua;
    background-color: #456723;*/
    background-color:rgb(239, 231, 231);
}
#background-image{
    background-image: url(/imgs/cat1.jpg);
    width: 500px;
    height: 400px;
    background-repeat: no-repeat ;
    /*background-repeat: repeat-x;
    background-repeat: repeat-y;*/
    background-position:right ; 
    color: white;
}